* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(28, 88, 167);
    color: white;
    cursor: pointer;
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
@import "./about";
